#mtness{}

body {
	--typo3-text-color-code: light-dark(var(--token-color-green-60), var(--token-color-green-80));
	--pagemodule-grid-spacing: .5rem;
}

/* v13 BE fixes */

.t3-grid-table colgroup col {
	width: unset !important;
}

.badge-list {
	margin-block-end: .5rem;
}


/* filereference metadata  */
.formengine-field-item-description {
	display: none;
}


/* mt-pageheader */

h2.t3js-subtitle-inlineedit {
	margin-top: 0;
	margin-bottom: 24px;
}

.mt-pageheader {
	position: relative;
	/*background-color: light-dark(var(--token-color-green-60), var(--token-color-green-80));*/
	border: 1px dotted #ccc;
	border: 1px dotted var(--pagemodule-grid-border-color);
	border-radius: .25rem;
	border-radius: var(--pagemodule-grid-border-radius);
	padding: .5rem;
	padding: var(--pagemodule-grid-spacing);
	margin: .5em -1px 2em;
}
.mt-pageheader-content {
	position: relative;
	padding: .2rem 0;
	display: flex;
	flex-flow: column;
	gap: .5rem;
}
.mt-pageheader h3 {
	margin: 0;
	font-size: 1em;
	font-weight: 700;
}
.mt-pageheader h3 + p {
	margin: 0;
}

.mt-pageheader-content-section {
	display: flex;
	align-items: center;
}
.mt-pageheader-content-section b {
	display: none;
}
.mt-pageheader-content-section h3 {
	display: inline-block;
	min-width: 5.5rem;
	text-align: right;
	padding-right: .5rem;
	font-size: .7rem;
}


.mt-pageheader-content-section.resources .imgs {
	position: relative;
	left: -10px;
}

.mt-pageheader-content-section.resources img {
	margin: 0 0 10px 10px;
}

.mt-pageheader .categories h3 {
	margin-bottom: 6px;
}

.mt-pageheader .categories ul {
	display: flex;
	gap: .5rem;
}
.mt-pageheader .categories li {
	font-size: .7rem;
	background: #ddd;
	padding: .25rem .5rem;
	border-radius: 3px;
}

.mt-pageheader .slug {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
.mt-pageheader .slug pre {
	background-color: light-dark(#fff, #000);
	color: #737373;
	flex-grow: 1;
	padding: .1rem .2rem;
}


.mt-pageheader .slug pre {
	font-size: .875rem;
}

.mt-pageheader-list-inline {
	padding-left: 0;
}
.mt-pageheader-list-inline li {
	display: inline;
}




/* hide clear cache explanation */
.dropdown-table-column.dropdown-table-column-top.dropdown-table-text .text-muted,
.dropdown-item-column-text small {
	display: none;
}


/* v13 BE styling touchup */
.t3js-page-new-ce .btn {
	border-radius: 3rem;
	padding: .5rem 1rem;
}

/* dark mode enhancements */

.panel-heading {
	background-color: light-dark(#f0f0f0,#1c1c1c);
;
}





/* better backend form styling by mtness */

h1 { margin-bottom: 10px; }

.form-section { padding: 6px 12px 2px; }

.form-section-headline { margin-bottom: 4px; }

.form-group { margin-bottom: 2px; }

.form-group .t3js-formengine-field-item { margin-bottom: 16px; }


.form-group.t3js-formengine-validation-marker.t3js-formengine-palette-field label.t3js-formengine-label { margin-bottom: 2px; }


.form-control-wrap { margin: 1px 0; }








/* misc backend style touchup */

.typo3-topbar-site-name {
	font-size: 10px;
}

.cke_inner.cke_reset.cke_maximized {
	margin-top: 0 !important;
}

div[id*="t3js-form-field-slug"] {
	font-family: monospace;
}



/* reset of order of module docheader */
.module-docheader-bar-navigation .module-docheader-bar-column-left .row-cols-auto.row {
	flex-flow: row-reverse;
	justify-content: left;
}





/* v8 gridelements enhancements */

.t3-grid-container.t3-grid-element-container table.t3-page-columns {
	border-spacing: 0 !important;
}

.t3js-module-body .t3-grid-container-1,
.t3js-module-body .t3-grid-container-2,
.t3js-module-body .t3-grid-container-3,
.t3js-module-body .t3-grid-container-4,
.t3js-module-body .t3-grid-container-5 {
	margin: 0 -10px -10px !important;
	border-width: 3px 2px 2px 2px;
}

.t3-page-ce .t3-page-ce-footer {
	padding: 0;
}
.t3-page-ce .t3-page-ce-footer .t3-page-ce-info {
	margin: 0 10px;
	line-height: 1.8;
}

.t3js-module-body .t3-grid-container-4 {
	border-style: solid;
	border-color: #63a91f;
	margin: 2px 0 0 0;
}

.t3js-module-body .t3-grid-container-title-4 {
	font-size: 12px;
	font-weight: normal;
	color: #1a512e;
	background: #c6dc93;
	padding: 5px 10px;
	margin: 0;
}

.t3js-module-body .t3-grid-container-5 {
	border-style: solid;
	border-color: #fafa0f;
	margin: 2px 0 0 0;
}

.t3js-module-body .t3-grid-container-title-5 {
	font-size: 12px;
	font-weight: normal;
	color: #1a512e;
	background: #fdfd96;
	padding: 5px 10px;
	margin: 0;
}




.t3-ctype-identifier[data-ctype="gridelements_pi1"] + .t3-page-ce-body .exampleContent {
	position: relative;
}

.t3-ctype-identifier[data-ctype="gridelements_pi1"] + .t3-page-ce-body > div > div > .exampleContent > strong,
.t3-ctype-identifier[data-ctype="gridelements_pi1"] + .t3-page-ce-body > div > div > span > .exampleContent > strong {
	position: absolute;
	top: 10px;
	left: 60px;
}

.t3-ctype-identifier[data-ctype="gridelements_pi1"] + .t3-page-ce-body > div > div > .exampleContent > strong + br,
.t3-ctype-identifier[data-ctype="gridelements_pi1"] + .t3-page-ce-body > div > div > span > .exampleContent > strong + br {
	display: none;
}

.t3-ctype-identifier[data-ctype="gridelements_pi1"] + .t3-page-ce-body > .t3-page-ce-body-inner {
	padding-top: 0;
}
